html(lang='en')
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Online ordering for Szechuan Express in Pittsburgh.')
        link(rel='canonical', href='https://szechuanexpresspgh.com/')
        link(rel='stylesheet', type='text/css', href='/css/admin.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Gotu&display=swap', rel='stylesheet')
        link(rel='icon', type='image/png', href='/img/logo.png')
        title Szechuan Express | Admin Overview
    body
        .main
            .dashboard
                nav.admin-nav
                    .admin-nav-container
                        a.admin-nav-link(href="/admin") Overview
                        a.admin-nav-link.admin-nav-link-active(href="/admin/products") Products
                        a.admin-nav-link(href="/admin/orders") Orders
                .admin-products-edit
                    if type == 'regular'
                        form.admin-products-form(action=`/admin/products/reg/${item._id}` method="post")
                            label.admin-products-label(for="id") ID
                            input.admin-products-input(type="text" name="id" value=`${item.id}`) 
                            label.admin-products-label(for="name") Name
                            input.admin-products-input(type="text" name="name" value=`${item.name}`) 
                            label.admin-products-label(for="category") Category
                            select.admin-products-input(name="category") 
                                option(value='soup' selected= cat === 'soup') Soup
                                option(value='appetizers' selected= cat === 'appetizers') Appetizers
                                option(value='vegetables' selected= cat === 'vegetables') Vegetables
                                option(value='pork' selected= cat === 'pork') Pork
                                option(value='chicken' selected= cat === 'chicken') Chicken
                                option(value='beef' selected= cat === 'beef') Beef
                                option(value='seafood' selected= cat === 'seafood') Seafood
                                option(value='friedRice' selected= cat === 'friedRice') Fried Rice
                                option(value='friedNoodle' selected= cat === 'friedNoodle') Fried Noodle
                                option(value='soupNoodle' selected= cat === 'soupNoodle') Soup Noodle
                                option(value='loMein' selected= cat === 'loMein') Lo Mein
                                option(value='padThai' selected= cat === 'padThai') Pad Thai
                                option(value='singapore' selected= cat === 'singapore') Singapore Chow Mein Fun
                                option(value='maiFun' selected= cat === 'maiFun') Taiwan Chow Mai Fun
                                option(value='chowFun' selected= cat === 'chowFun') Chow Fun Noodles
                                option(value='chefSpecial' selected= cat === 'chefSpecial') Chef Special
                            label.admin-products-label(for="price") Prices
                            for price in item.prices
                                input.admin-products-input(type="text" name="price" value=`${price}`) 
                            label.admin-products-label(for="spicy") Spicy
                            select.admin-products-input(name="spicy") 
                                option(value='true' selected= item.spicy === true) Spicy
                                option(value='false' selected= item.spicy === false) Not Spicy
                            label.admin-products-label(for="description") Description
                            textarea.admin-products-desc(name="description")= item.description
                            button.admin-products-btn-edit(type="submit") Update
                    else if type == 'special'
                        form.admin-products-form(action=`/admin/products/spec/${item._id}` method="post")
                            label.admin-products-label(for="id") ID
                            input.admin-products-input(type="text" name="id" value=`${item.id}`) 
                            label.admin-products-label(for="name") Name
                            input.admin-products-input(type="text" name="name" value=`${item.name}`) 
                            label.admin-products-label(for="price") Prices
                            for price in item.prices
                                input.admin-products-input(type="text" name="price" value=`${price}`) 
                            for option in item.options
                                input.admin-products-input(type="text" name="price" value=`${option}`) 
                            label.admin-products-label(for="spicy") Spicy
                            select.admin-products-input(name="spicy") 
                                option(value='true' selected= item.spicy === true) Spicy
                                option(value='false' selected= item.spicy === false) Not Spicy
                            button.admin-products-btn-edit(type="submit") Update
