html(lang='en')
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Online ordering for Szechuan Express in Pittsburgh.')
        link(rel='canonical', href='https://szechuanexpresspgh.com/')
        link(rel='stylesheet', type='text/css', href='/css/admin.min.css')
        link(href='https://fonts.googleapis.com/css2?family=Gotu&display=swap', rel='stylesheet')
        link(rel='icon', type='image/png', href='/img/logo.png')
        title Szechuan Express | Admin Overview
    body
        .main
            .dashboard
                nav.admin-nav
                    .admin-nav-container
                        a.admin-nav-link(href="/admin") Overview
                        a.admin-nav-link.admin-nav-link-active(href="/admin/products") Products
                        a.admin-nav-link(href="/admin/orders") Orders
                .admin-products-main
                    .admin-products-tab-nav
                        button.admin-products-tab-btn#reg Regular
                        button.admin-products-tab-btn#spec Special
                    .admin-products-tab#reg-tab
                        each item in menu[0]
                            .admin-products-box
                                p.admin-products-text= item.id
                                p.admin-products-text= item.name
                                p.admin-products-text= item.category
                                p.admin-products-text= item.prices
                                if item.spicy
                                    p.admin-products-text Spicy
                                else 
                                    p.admin-products-text Not Spicy
                                a.admin-products-btn(href=`/admin/products/reg/${item._id}`) Edit
                    .admin-products-tab#spec-tab
                        each item in menu[1]
                            .admin-products-box
                                p.admin-products-text= item.id
                                p.admin-products-text= item.name
                                p.admin-products-text= item.prices
                                if item.spicy
                                    p.admin-products-text Spicy
                                else 
                                    p.admin-products-text Not Spicy
                                p.admin-products-text= item.options
                                a.admin-products-btn(href=`/admin/products/spec/${item._id}`) Edit
                    .admin-products-bottom
        script(src='/js/adminPage.js')